*.pyc
*~
*.cl
*.par
.3putgzir.swp
CTIOversions/
IRPROCESSING.fix
IRPROCESSING/
IRsort.cl.BACKUP20130918
LINKS
OLDSORTS/
OLDprocess/
OUThouses/
acamred
ccdlist_smarts13m.txt
copyphot
copyrecord
copyrecorddate
copyreplog
copyusage
copyusage2
extractdata
getdata
irlist_smarts13m.txt
outhouseccd
outhouseccd_smarts13m.sh
outhouseir
outhouseir_smarts13m.sh
putgzccd
putgzir

